<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ApiExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F51B96E21CEC19F000B090FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F51B96FB1CEC19F100B090FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F51B97061CEC19F100B090FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
